<!doctype html>
<html>
  
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

<script type="text/javascript">
/**    var confirmCheck = false;
  
    function authSendOnclick() {
      alert("전송하였습니다.");
      document.getElementById("confirmButton").disabled = false;
    }
    
    function authConfirmOnclick() {
      confirmCheck = true;
      alert("인증 확인!!");
    }
    
    function loginOnclick() {
      if(confirmCheck) {
        document.getElementByTagName("form").submit();
        
      }else {
        alert("인증하세요:D");
        
      }
    }
    /**
    document.getElementById("confirmButton").addEventListener("click", function() {
      confirmCheck = true;
      alert("인증 확인!!");
    });
    
    document.getElementById("loginButton").addEventListener("click", function() {
      
      if(confirmCheck) {
        this.submit();
        
      }else {
        alert("인증하세요:D");
      }
    });
    */
</script>
  
</head>

<body>
  
<div class="pure-g">
    <div class="pure-u-1-3"><p>Thirds</p></div>
    <div class="pure-u-1-3"><p>Thirds</p></div>
    <div class="pure-u-1-3"><p>Thirds</p></div>
</div>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Your Site</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tour</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sign Up</a></li>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">MVNO WORLD</h1>
        <p class="splash-subhead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <p>
            <a href="http://purecss.io" class="pure-button pure-button-primary">Get Started</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
      <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Your Phone Number</label>
                        <input id="name" type="text" placeholder="EX) 01098761111">


                        <label for="email">Your Birthday</label>
                        <input id="email" type="text" placeholder="EX) 820805">

                        <label for="password">Authentication</label>
                        <input id="password" type="text" placeholder="EX) 123456">

                        <button type="submit" class="pure-button">Sign Up</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Contact Us</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>

                <h4>More Information</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>

    </div>
</div>

<!--
  <div class="index">
    <br><br>
    <form name=loginForm action="/login" method="post">
        사업자 : 
        <select>
          <option value="000" selected="selected">선택</option>
          <option value="030">SK텔링크</option>
          <option value="180">CJ헬로비젼</option>
          <option value="070"> 이마트</option>
        </select> <br/>
        휴대폰번호 : <input type=text size=11 maxlength=11 name=phone_nun> <br>
        생년월일 : <input type=text size=6 maxlength=6 name=birth_day> (예:820805)<br>
        인증번호 : <input type=text size=6 maxlength=6 name=auth_num> 
        <input type=button value="전송" onclick="authSendOnclick()">
        <input type=button value="확인" onclick="authConfirmOnclick()" disabled=true id=confirmButton>
        <br><br>
        <button class="pure-button" id=loginButton onclick="loginOnclick()">로그인</button> 
    </form>
  </div>
-->

</body>
</html>